@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-color: #141414;
    scrollbar-color: #7a0000 #171717;
    scrollbar-width: thin;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
    height: 100vh;
}

.header {
    background-color: black;
    height: 70px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.header img {
    max-width: 150px;
    cursor: pointer;
}

.header .search {
    align-items: center;
}

.header .search input[type = 'text'] {
    border-radius: 0.5rem;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 1rem;
    padding-left: 0.5rem;
    outline: none;
}

.header .search input[type = 'text']::placeholder {
    color: white;
    opacity: 1;
}

.header .search i {
    color: white;
    font-size: 0.9rem;
} 

.header .nav-bar {
    margin: 0;
    padding: 0;
    width: 50%;
    align-items: center;
    list-style: none;
}

.header .nav-bar li {
    margin-left: 18px;
}

.header .nav-bar li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    opacity: 1;
}

.header .nav-bar li:hover a {
    opacity: 0.8;
}

/* MAIN */
.movies-box {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    height: 100%;
}

/* .card {
    max-height: 406px;
} */

.card,
.card-genre {
    position: relative;
    margin: 0.5rem;
    padding: 0;
    background-color: inherit;
    width: 100%;
}

.card .top-card img,
.card-genre .top-card-genre img {
    height: 100%;
    width: 100%;
}

.card .top-card i,
.card-genre .top-card-genre i {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .bottom-card,
.card-genre .bottom-card-genre {
    display: none;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    justify-content: center;
    text-align: center;
    position: absolute;
    color: #DB1F2D;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Bebas Neue', cursive;
}

.card-genre .bottom-card-genre {
    top: 0;
    left: 0;
}

.card:hover .bottom-card,
.card-genre:hover .bottom-card-genre {
    display: flex;
    cursor: pointer;
}

/* TEXT CARD INFO */
.card .bottom-card .title,
.card-genre .bottom-card-genre .title {
    font-size: 1.8rem;
}

.card .bottom-card .original-title,
.card-genre .bottom-card-genre .original-title {
    font-size: 1rem;
    position: relative;
    top: -0.5rem;
}

.card .bottom-card img,
.card-genre .bottom-card-genre img {
    width: 15%;
    margin: 0 auto;
}

.bottom-card .overview {
    width: 100%;
    height: 50%;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 10%;
}

/* GENRES BOX */
.genres-box {
    width: 95%;
    margin-left: calc(5% / 2);
    margin-bottom: 2rem;
}

.genres-box h1 {
    color: #DB1F2D;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    font-size: 2rem;
}

.genre-cardList {
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

/* SCROLLBAR */
main {
    height: 90vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar,
.bottom-card .overview::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
main,
.bottom-card .overview {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, #7a0000 14%, #990000 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, #7a0000 14%, #ff0000 100%);
}

::-webkit-scrollbar-track {
    background: #454242;
    border-radius: 10px;
    box-shadow: inset -4px 2px 30px #171717;
}

/* AUTOSCROLL */
#root {
    position: relative;
}

.top-page  {
    position: absolute;
    right: 1vw;
    bottom: 10px;
    height: 3rem;
    width: 3rem;
    background-color:  #7a0000;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    cursor: pointer;
}

.top-page:hover {
    opacity: 1;
}

.top-page i {
    color: white;
    font-size: 2rem;
}

/* GENERAL */
.d-none {
    display: none;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 760px) {
    .header .nav-bar {
        visibility: hidden;
    }

    .header > .search {
       display: none !important;
    }

    .hamburger-menu {
        text-align: end;
        display: block;
    }
    
    .hamburger-menu i {
        color: #DB1F2D;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .hamburger-menu i:first-of-type {
        color: #FFFFFF;
        font-size: 1rem;
        cursor: pointer;
        vertical-align: 3px;
        margin-right: 10px;
    }

    .wrapped-item {
        position: absolute;
        right: 80px;
        top: -10px;
        z-index: 10;
    }

    .wrapped-item ul {
        display: block !important;
        text-align: end;
        list-style: none;
    }

    .wrapped-item ul li a{
        color: #DB1F2D;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
    }

}
